<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Rocket Elevators - Quote</title>
		<meta name="description" content="" />
		<meta name="Author" content="Rayan Taing" />
		<link rel="icon" href="assets/icon.png">

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

		<!-- WEB FONTS : use %7C instead of | (pipe) -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

		<!-- CORE CSS -->
		<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

		<!-- REVOLUTION SLIDER -->
		<link href="assets/slider.revolution/css/extralayers.css" rel="stylesheet" type="text/css" />
		<link href="assets/slider.revolution/css/settings.css" rel="stylesheet" type="text/css" />

		<!-- THEME CSS -->
		<link href="assets/essentials.css" rel="stylesheet" type="text/css" />
		<link href="assets/layout.css" rel="stylesheet" type="text/css" />

		<!-- PAGE LEVEL SCRIPTS -->
		<link href="assets/header-1.css" rel="stylesheet" type="text/css" />
		<link href="assets/color_scheme/rocketelevator.css" rel="stylesheet" type="text/css" id="color_scheme" />
	</head>

	<body class="smoothscroll enable-animation">

		<!-- wrapper -->
		<div id="wrapper">

			<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
						<a class="logo float-left" href="index">
							<img src="assets/logo.png" alt="" />
						</a>

						<!-- 
							Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
							<nav class="nav-main">

								<!-- 
									.nav-onepage
									Required for onepage navigation links
									
									Add .external for an external link!
								-->
								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li class="active"><!-- HOME -->
										<a href="index">
											HOME
										</a>
									</li>
									<li><!-- SERVICES -->
										<a href="index#services">
											SERVICES
										</a>
									</li>
									<li><!-- PORTFOLIO -->
										<a href="index#portfolio">
											PORTFOLIO
										</a>
									</li>
									<li><!-- NEWS -->
										<a href="index#news">
											NEWS
										</a>
									</li>
									<li><!-- CLIENTS -->
										<a href="index#clients">
											CLIENTS
										</a>
									</li>
									<li><!-- CONTACT -->
										<a href="index#contact">
											CONTACT
										</a>
									</li>
								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->

			</div>

			<div class="container">
				<br>

				<h1>Request a Quote</h1>


				<hr class="m-0" /><!-- 1px line separator -->

				<label>Building Type:</label>
				<select id="building-type">
					<option id="commercial" value="commercial" selected="selected">Commercial</option>
					<option id="residential" value="residential">Residential</option>
					<option id="corporate" value="corporate">Corporate</option>
					<option id="hybrid" value="hybrid">Hybrid</option>
				</select>
	
				<div class="row">
					<div id="number-of-apartments" class="col-md-4">
						<label>Number of Appartements</label>
						<input type="number" value="0" min="0"/>
					</div>
					<div id="number-of-floors" class="col-md-4">
						<label>Number of Floors</label>
						<input type="number" value="0" min="0"/>
					</div>
					<div id="number-of-basements" class="col-md-4">
						<label>Number of Basements</label>
						<input type="number" value="0" min="0"/>
					</div>
					<div id="number-of-companies" class="col-md-4">
						<label>Number of Companies</label>
						<input type="number" value="0" min="0"/>
					</div>
				
					<div id="number-of-parking-spots" class="col-md-4">
						<label>Number of Parking Spots</label>
						<input type="number" value="0" min="0"/>
					</div>
				
					<div id="number-of-corporations" class="col-md-4">
						<label>Number of Corporations</label>
						<input type="number" value="0" min="0"/>
					</div>
				
					<div id="maximum-occupancy" class="col-md-4">
						<label>Number of Occupancy (per floor)</label>
						<input type="number" value="0" min="0"/>
					</div>
				
					<div id="number-of-elevators" class="col-md-4">
						<label>Number of Elevators</label>
						<input type="number" value="0" min="0"/>
					</div>
				
					<div id="business-hours" class="col-md-4">
						<label>Number of Business Hours</label>
						<input type="number" value="0" min="0"/>
					</div>
				</div>

				<hr/><!-- 1px line separator -->
				
				<div class="row">
					<div id="elevator-amount" class="col-md-4">
						<label>Elevator Amount</label>
						<input type="number" step="any" readonly value="0"/>
					</div>
					<div id="column-amount" class="col-md-4">
						<label>Columns Amount</label>
						<input type="number" step="any" readonly value="0"/>
					</div>
				</div>

				<h3>Please select a product line:</h3>
				<div id="product-line">
					<div class="row">
						<input type="radio" id="standard" name="productLineIDs" value="standard" checked="true">
						<label for="standard">Standard</label>
					</div>
					<div class="row">
						<input type="radio" id="premium" name="productLineIDs" value="premium">
						<label for="premium">Premium</label>
					</div>
					<div class="row">
						<input type="radio" id="excelium"name="productLineIDs" value="excelium">
						<label for="excelium">Excelium</label>
					</div>
				</div>

				<hr/><!-- 1px line separator -->

				<h3>Quote:</h3>
				<div class="row">
					<div id="elevator-unit-price" class="col-md-3">
						<label>Elevator Unit Cost</label>
						<input type="text" step="any" readonly value=""/>
					</div>
					<div id="elevator-total-price" class="col-md-3">
						<label>Elevator Total Cost</label>
						<input type="text" step="any" readonly value=""/>
					</div>
					<div id="installation-fees" class="col-md-3">
						<label>Installation Cost</label>
						<input type="text" step="any" readonly value=""/>
					</div>
					<div id="final-price" class="col-md-3">
						<label>Total</label>
						<input type="text" step="any" readonly value=""/>
					</div>
				</div>
				
			</div>

			<hr/><!-- 1px line separator -->

			<!-- FOOTER -->
			<footer id="footer">
				<div class="container">


					<div class="row">

						<!-- col #1 -->
						<div class="col-md-8">

							<h3 class="letter-spacing-1">WHY US?</h3>

							<!-- Small Description -->
							<p>
								We have the conviction that we create the most innovative and reliable products on the market. Contact us today for any questions you might have.
							</p>
							<h2>(418) 555-1234</h2>
						</div>
						<!-- /col #1 -->

						<!-- col #2 -->
						<div class="col-md-4">
							<h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

							<!-- Newsletter Form -->
							<p>Subscribe to Our Newsletter to get Important News & Offers</p>

							<form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
									<input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
									<span class="input-group-btn">
										<button class="btn btn-success" type="submit">Subscribe</button>
									</span>
								</div>
							</form>
							<!-- /Newsletter Form -->


						</div>
						<!-- /col #2 -->

					</div>

				</div>

				<div class="copyright">
					<div class="container">
						<ul class="float-right m-0 list-inline mobile-block">
							<li><p>Terms &amp; Conditions</p></li>
							<li>&bull;</li>
							<li><p>Privacy</p></li>
						</ul>
						&copy; All Rights Reserved, Rocket Elevators
					</div>
				</div>


			</footer>
			<!-- /FOOTER -->

		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>


		<!-- PRELOADER -->
		<div id="preloader">
			<div class="inner">
				<span class="loader"></span>
			</div>
		</div><!-- /PRELOADER -->


		<!-- JAVASCRIPT FILES -->
		<script>var plugin_path = 'assets/';</script>
		<script src="assets/jquery/jquery-3.3.1.min.js"></script>

		<script src="assets/scripts.js"></script>
		
		<!-- PAGELEVEL SCRIPTS -->
		<script src="assets/quote.js"></script>

	</body>
</html>