<html lang="en">
    <head>
    <meta charset="utf-8" />
    <title> Dashboard Admin - Rocket Elevators </title>
        <style type="text/css">
            body { 
                font: normal 14px Verdan; 
            }
            h1 { 
                font-size: 24px; 
            }
            h2 { 
                font-size: 18px; 
            }
            sidebar {
                float: right;
                width: 30%;
            }
            #main {
                padding-right: 15px
            }
            .infoWindow {
                width: 220px;

            }
            
        </style>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["GOOGLEMAPS"]%>"></script type="text/javascript">

        var map;

        var center = new google.maps.LatLng(46.842757, -71.280479)

        function init() {
            var mapoptions = {
                zoom: 4,
                center: center,
            }
        }

        map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

        infoWindow = new google.maps.InfoWindow({ content: sContent});

        <% building.all.each do |building| %>

            var weatherContent;
            
            <% response = HTTParty.get('http://api.weatherapi.com/v1/current.json?=' + ENV["WEATHER_API"] + '%q=' + building.address.city) %>

        <% b_ids = Battery.where(building_id: building.id).b_ids
            c = Column.where(building_id: b_ids)
            c_ids = Column.where(building_id: b_ids).ids
            totalElevators = Elevator.where(column_id: c_ids).count

        totalFloors = c.maximum(:number_of_floors_served) %>


